<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <handlers>
            <remove name="SSINC-htm" />
            <add name="SSINC-htm" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File"/>
        </handlers>
		<httpErrors errorMode="Custom">   
			<remove statusCode="404" subStatusCode="-1" />                
			<error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
		</httpErrors>
    </system.webServer>
	<system.web>
		<customErrors mode="On" defaultRedirect="/404.html" redirectMode="ResponseRedirect">
    </customErrors>
</system.web>
</configuration> 