<!DOCTYPE html>
<html lang="zh-HK" itemscope="" itemtype="https://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高鐵遊攻略 > 今期推介</title>
    <meta name="country" content="China">
    <meta name="city" content="Hong Kong">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="香港鐵路有限公司">
    <meta name="author" content="香港鐵路有限公司">

    <link rel="icon" href="./images/common/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./images/common/favicon.ico" type="image/x-icon">

    <meta name="keywords" content="高鐵遊攻略, 高速鐵路, High Speed Rail, MTR, 港鐵, 熱點推介, 主題旅遊, 行程推介, 高鐵旅遊專家">
    <meta name="description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！"></meta>

    <meta property="og:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh-HK">
    <meta property="og:title" content="高速鐵路">
    <meta property="og:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta property="og:image" content="./images/common/share-img-l.jpg">

    <meta name="twitter:card" content="Summary">
    <meta name="twitter:site" content="https://www.highspeed.mtr.com.hk/">
    <meta name="twitter:url" content="https://www.highspeed.mtr.com.hk/tc/travel/">
    <meta name="twitter:title" content="高速鐵路">
    <meta name="twitter:description" content="全長26公里的高速鐵路(香港段)以西九龍為起點，連接超過25,000公里的國家高鐵網絡。無論商務出行，抑或旅遊探親，高鐵帶給你一個舒適可靠的旅程，讓你以嶄新旅遊模式發掘更多更遠的地方！">
    <meta name="twitter:image" content="./images/common/share-img.jpg"/>

    <script src="./js/lib/jquery.min.js" type="text/javascript"></script>
    <script src="./js/datalist.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./css/style.min.css" type="text/css">
    <link rel="stylesheet" href="./css/offer.min.css" type="text/css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCCFW98');</script>
</head>
<body class="font-size-m">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCCFW98" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap sub-page" id="hsr">
        <hsr-top :page="pageid" :article="articleId"></hsr-top>
        <sub-top-banner :page="pageid"></sub-top-banner>
        <main id="primary" class="contents" aria-label="content" aria-label="content">
            <div class="blind" id="a-primary-focus"></div>
            <h1 class="blind" v-html="pagetitle"></h1>
            <hsr-breadcrumb :depth1="depth1"></hsr-breadcrumb>
            <hsr-breadcrumb-prev :goto="depth1link" :gototxt="text.btnGoPrev"></hsr-breadcrumb-prev>
            <div class="sec-bg">
                <section id="theme-list">
                    <div class="sec-inner">
                        <section-tit :title="pagetitle" :img="pageid" class="hide-line"></section-tit>
                        <article class="sec-contents">
                            <p class="offer-leadin" v-html="articleList.offerDesc"></p>
                            <ul class="article-list type-sm">
                                <li v-if="idx < listShow" v-for="(item, idx) in articleList.offer" :key="idx">
                                    <div class="article-list-item-sm">
                                        <div class="article-list-item_cont effect-hover">
                                            <div class="article-list_thumb">
                                                <a :href="item.link" target="_blank">
                                                    <!-- <div class="article-list_cate-label" v-if="item.agency">
                                                        <div class="article-list_cate-label-in">
                                                            <span class="cate-label_txt" v-html="item.agency"></span>
                                                            <div class="cate-label_bg"><div></div><div></div><div></div></div>
                                                        </div>
                                                    </div> -->
                                                    <figure>
                                                        <div class="hover-img">
                                                            <img :src="item.img_d" :alt="item.img_d_tag?item.img_d_tag:''" class="br767"/>
                                                            <img :src="item.img_m" :alt="item.img_m_tag?item.img_m_tag:''" class="view767"/>
                                                        </div>
                                                        <div class="hover-bg">
                                                            <img :src="item.img_d" :alt="item.img_d_tag?item.img_d_tag:''" class="br767"/>
                                                            <img :src="item.img_m" :alt="item.img_m_tag?item.img_m_tag:''" class="view767"/>
                                                        </div>
                                                        <figcaption class="blind" v-html="item.img_d_tag?item.img_d_tag:'了解更多'"></figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                            <div class="article-list_text">
                                                <div class="article-list_text-in">
                                                    <a :href="item.link" target="_blank">
                                                        <div class="article-list_tit" v-html="textLimit(item.tit)"></div>
                                                        <div class="article-list_agency" v-html="item.agency"></div>
                                                        <div class="article-list_price">
                                                            <span class="list-price__hkd">HKD</span>
                                                            <span v-html="item.price"></span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </article>
                    </div>
                </section>

                <section id="agency">
                    <div class="sec-inner">
                        <section-tit title="高鐵旅遊專家" img="agency"></section-tit>
                        <article class="sec-contents">
                            <div class="swiper-container">
                                <p class="agency-leadin" v-html="articleList.agencyDesc"></p>
                                <div class="swiper-wrapper agency-list">
                                    <div class="swiper-slide" v-for="item in articleList.agency" v-if="articleList.agency">
                                        <div class="agency-item" :title="item.name">
                                            <div class="agency-item_logo">
                                                <a class="agency-cover" :href="'./agency-detail.html?article='+item.id" tabindex="0" :title="'瀏覽'+item.name+'產品資料'">產品及查詢詳情</a>
                                                <a :href="'./agency-detail.html?article='+item.id" tabindex="0" :title="'瀏覽'+item.name+'產品資料'">
                                                    <figure>
                                                        <img :src="item.img_highlight_d" :alt="item.img_highlight_d_tag?item.img_highlight_d_tag:''" class="br767" />
                                                        <img :src="item.img_highlight_m" :alt="item.img_highlight_m_tag?item.img_highlight_m_tag:''" class="view767"/>
                                                        <figcaption class="blind" v-html="item.name+' logo'"></figcaption>
                                                    </figure>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </article>
                    </div>
                </section>

                <div class="sec-bg-group">
                    <div class="sec-bg-group__inner">
                        <div class="bg-item-top"></div>
                        <div class="bg-item-circle5"></div>
                        <div class="bg-item-circle6"></div>
                        <div class="bg-item-circle7"></div>
                        <div class="bg-item-btm">
                            <div id="canvas-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <hsr-foot :backtotop="text.btnBackTop" :copytxt="text.fcopy"></hsr-foot>
    </div>

    <script src="./js/lib/vue.min.js" defer type="text/javascript"></script>
    <script src="./js/lib/plugins.min.js" defer type="text/javascript"></script>
    <script type="text/javascript">
    ;(function(win,doc,callback){'use strict';callback=callback||function(){};function detach(){if(doc.addEventListener){doc.removeEventListener('DOMContentLoaded',completed)}else{doc.detachEvent('onreadystatechange',completed)}}function completed(){if(doc.addEventListener||event.type==='load'||doc.readyState==='complete'){detach();callback(window,window.jQuery)}}function init(){if (doc.addEventListener){doc.addEventListener('DOMContentLoaded',completed)}else{doc.attachEvent('onreadystatechange',completed)}}init()})(window,document,function(win,$){
        $.ajaxSetup({cache:true});
        $.ajax('./js/components.min.js')
        .then(function(){return $.ajax('./js/common.min.js')})
        .then(function(){

            var pageid = 'offer';
            $.each(topmenu, function(index, item){
                if(item.id == pageid) {
                    MTR.pagetitle  = item.name;
                    MTR.pageid     = item.id;
                    MTR.depth1     = item.name;
                    MTR.depth1link = item.link;
                    MTR.articleId  = 'offer-list';
                }
            })

            var getList = $.getJSON('./data/offer-list.json', function(data){
                return MTR.articleList = data;
            }).done(function(){
                // Agency slider
                setTimeout(function(){
                    var secAgency = undefined;
                    function initSlider() {
                        var screenWidth = $(window).width();
                        if(screenWidth < 1000 && secAgency == undefined) {
                            secAgency = new Swiper('#agency .swiper-container', {
                                breakpoints: {
                                    300: {
                                        slidesPerView: 2,
                                        slidesPerGroup: 2,
                                        spaceBetween: 10,
                                    },
                                    768: {
                                        slidesPerView: 2,
                                        spaceBetween: 10,
                                    },
                                    1024: {
                                        slidesPerView: 3,
                                        spaceBetween: 10,
                                    },
                                },
                                navigation: {
                                    nextEl: '#agency .swiper-button-next',
                                    prevEl: '#agency .swiper-button-prev',
                                },
                                pagination: {
                                    el: '#agency .swiper-pagination',
                                    clickable: true,
                                },
                                on:{
                                    init:function(){
                                        $('#agency').css('opacity', '1');
                                    }
                                }
                            });
                        } else if (screenWidth > 1000 && secAgency != undefined) {
                            secAgency.destroy();
                            secAgency = undefined;
                            $('#agency .swiper-wrapper').removeAttr('style');
                            $('#agency .swiper-slide').removeAttr('style');
                        }
                    }
                    initSlider();

                    $(window).on('resize', function(){
                        initSlider();
                    });
                }, 1000);

                setTimeout(function(){
                    MTR.listTotal          = MTR.articleList.length;
                    MTR.breadcrumb         = MTR.text.selectAll;
                    MTR.text.selectDefault = MTR.text.selectAllArea;
                    MTR.text.selectAll     = MTR.text.selectAllArea;
                    MTR.dropSelected = "";
                },100);
            });
        })
    });
    var satellite=setInterval(startPage,1e3);function startPage(){if(("ready"===document.readyState||"complete"===document.readyState)&&"complete"==document.readyState){if("undefined"!=typeof MTR)return LOAD_STATUS=!0,MTR.pageLoad=!0,void clearInterval(satellite);startPage()}}
    </script>

</body>
</html>